Primeiro, importa-se as bibliotecas necessárias:

In [12]:
import pandas as pd
import numpy as np
import os

Utilizaremos a base de dados MovieLens 100k, um database que possue 100,000 classificações de 1 a 5 por 943 usuáris em 1682 filmes. Cada usuário classificou pelo menos 20 filmes. Utilizaremos o id do filme, a classificação e o id do usuário do arquivo u.data:

In [51]:
    f = open("Desktop/RecInfo/ml-100k/u.data", "r") 
    content = f.readlines()
    head_sample = []
    for line in content[:5]:
        info = line.split('\t')
        head_sample.append({"user_id": info[0], "movie_id": info[1], "rating":  info[2]})

df = pd.DataFrame(data=head_sample)
df

  movie_id rating user_id
0      242      3     196
1      302      3     186
2      377      1      22
3       51      2     244
4      346      1     166

Agora, precisamos do título do filme, relacionando-o com o id do mesmo, que se encontra no arquivo u.item:

In [52]:
    f = open("Desktop/RecInfo/ml-100k/u.item", "r") 
    content = f.readlines()
    head_sample = []
    for line in content[:5]:
        info = line.split('|')

df = pd.DataFrame(data=head_sample)
df

  movie_id        movie_title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

Agora que temos todos os dados em dicionários, precisamos saber quais filmes um determinado usuário assistiu, para recomendarmos somente filmes que ele não assistiu. Para isso, cria-se um dicionário de filmes já assistidos:

In [ ]:
    f = open("Desktop/RecInfo/ml-100k/u.data", "r") 
    content = f.readlines()
    assistidos = dict()
    for line in content:
        info = line.split('\t')
         
        user_id = info[0]
        movie_id = info[1]
        if (user_id in assistidos):
            assistidos[int(user_id)].append(int(movie_id))
        else:
            assistidos[int(user_id)] = [int(movie_id)]

In [ ]:
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate
from surprise import KNNBasic

In [ ]:
file_path = os.path.expanduser('Desktop/RecInfo/ml-100k/u.data')
reader = Reader(line_format='user item rating timestamp', sep='\t')
data = Dataset.load_from_file(file_path, reader=reader)
trainset,testset = train_test_split(data,test_size =.2)

algo = KNNWithMeans(k=4, sim_options={'name': 'cosine', 'user_based': True})

algo.fit(trainset)
predictions = algo.test(testset)